.navbarWrapper {
  background-color: #242145;
  color: #ffde59;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.nabarselected {
  border-bottom: 1px solid white;
}

.nabarselected :hover {
  color: white;
}
