.navbarWrapper {
  background-color: #201b52;
  color: #ffde59;
  display: flex;
  gap: 1rem;
  padding: 10px;
  height: 70px;
  font-size: 18px;
  cursor: pointer;
  align-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nabarselected {
  border-bottom: 1px solid white;
}

.nabar:hover {
  color: white;
}
